In [1]:
!pip install faker
!pip install pandas

Requirement already satisfied: faker in c:\users\aajay\azuredatastudio-python\lib\site-packages (19.11.0)
Requirement already satisfied: typing-extensions>=3.10.0.1 in c:\users\aajay\appdata\roaming\python\python38\site-packages (from faker) (4.8.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\aajay\appdata\roaming\python\python38\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\aajay\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\aajay\azuredatastudio-python\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\aajay\azuredatastudio-python\lib\site-packages (2.0.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\aajay\azuredatastudio-python\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\aajay\azuredatastudio-python\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aajay\azuredatastudio-python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aajay\appdata\roaming\python\python38\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\aajay\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\aajay\azuredatastudio-python\python.exe -m pip install --upgrade pip' command.

In [2]:
from faker import Faker
from faker.providers import DynamicProvider
import random
import pandas as pd

# Creation of Database

In [3]:
fake = Faker('en_UK')

In [4]:
products_provider = DynamicProvider(
     provider_name="products",
elements=[
    (1, 'TechTrak Smartwatch', 1),
    (2, 'PowerPulse Wireless Charger', 1),
    (3, 'AudioStream Bluetooth Speaker', 1),
    (4, 'VoltVision HD Webcam', 1),
    (5, 'PixelSync Gaming Monitor', 1),
    (6, 'EcoCharge Solar Power Bank', 1),
    (7, 'CyberLink Home Security System', 1),
    (8, 'PixelGlide Graphics Tablet', 1),
    (9, 'WaveSync Wireless Earbuds', 1),
    (10, 'QuantumDrive External SSD', 1),
    (11, 'DynaSync Smart Thermostat', 1),
    (12, 'LightLink Smart Bulb', 1),
    (13, 'AeroGlide Drone', 1),
    (14, 'SonicLink Noise-Canceling Headphones', 1),
    (15, 'VisionQuest VR Headset', 1),
    (16, 'TerraLink GPS Tracker', 1),
    (17, 'AquaGuard Waterproof Phone Case', 1),
    (18, 'eReaderX E-Ink Reader', 1),
    (19, 'VitalScan Health Monitor', 1),
    (20, 'AstroView Telescope', 1),
    (21, 'FreshFlour Artisan Bread', 2),
    (22, 'SliceRight Whole Wheat Loaf', 2),
    (23, 'SweetTreats Bakery Delights', 2),
    (24, 'CrispCrust Baguette', 2),
    (25, 'CanMaster Tomato Sauce', 2),
    (26, 'VeggieHarvest Mixed Vegetables', 2),
    (27, 'SoupSavor Chicken Noodle Soup', 2),
    (28, 'BeanBlend Three-Bean Chili', 2),
    (29, 'MooMagic Organic Milk', 2),
    (30, 'AlmondEaze Almond Milk', 2),
    (31, 'CreamyDelight Greek Yogurt', 2),
    (32, 'ButterBliss Salted Butter', 2),
    (33, 'CrunchWave Potato Chips', 2),
    (34, 'NuttyMunch Trail Mix', 2),
    (35, 'PopCraze Popcorn', 2),
    (36, 'SnackAttack Veggie Chips', 2),
    (37, 'QuenchLife Fruit Juice', 2),
    (38, 'BrewMaster Coffee Beans', 2),
    (39, 'SipSational Iced Tea', 2),
    (40, 'SodaSplash Cola', 2),
    (41, 'MorningFuel Cereal Bars', 2),
    (42, 'CrunchyOats Granola', 2),
    (43, 'GoldenStart Pancake Mix', 2),
    (44, 'BerryBlast Fruit Spread', 2),
    (45, 'FrostyBites Frozen Pizza', 2),
    (46, 'VeggieFreeze Mixed Berries', 2),
    (47, 'IceCreamDreams Vanilla Ice Cream', 2),
    (48, 'HeatNServe Chicken Tenders', 2),
    (49, 'SaucySensation Tomato Ketchup', 2),
    (50, 'SpiceFusion BBQ Sauce', 2),
    (51, 'OliveGrove Extra Virgin Olive Oil', 2),
    (52, 'MustardMagic Dijon Mustard', 2),
    (53, 'FreshHarvest Organic Apples', 2),
    (54, 'GreenLeafy Greens Mix', 2),
    (55, 'BerryBounty Blueberries', 2),
    (56, 'SweetSensation Strawberries', 2),
    (57, 'PrimeCut Beef Steak', 2),
    (58, 'SeaFresh Salmon Fillet', 2),
    (59, 'ChickenDeluxe Boneless Chicken Breast', 2),
    (60, 'GrillMaster BBQ Ribs', 2),
    (61, 'ComfyCotton T-Shirt', 3),
    (62, 'DenimDream Jeans', 3),
    (63, 'FashionFusion Dress', 3),
    (64, 'CozyKnit Sweater', 3),
    (65, 'ActiveLife Yoga Pants', 3),
    (66, 'ClassicChic Blazer', 3),
    (67, 'SportyStride Sneakers', 3),
    (68, 'GlamourGlow Evening Gown', 3),
    (69, 'CoolBreeze Summer Shorts', 3),
    (70, 'UrbanEdge Leather Jacket', 3),
    (71, 'WarmUp Winter Coat', 3),
    (72, 'LuxeLinen Dress Shirt', 3),
    (73, 'EcoChic Organic Cotton Tee', 3),
    (74, 'WorkoutWarrior Athletic Shorts', 3),
    (75, 'ChicComfort Leggings', 3),
    (76, 'SmartStyle Business Suit', 3),
    (77, 'RunReady Sports Bra', 3),
    (78, 'SleekSilk Scarf', 3),
    (79, 'DenimDelight Jumpsuit', 3),
    (80, 'CharmChiffon Blouse', 3),
    (81, 'SunSplash Swimwear', 3),
    (82, 'LaidBack Linen Pants', 3),
    (83, 'Footloose Flip-Flops', 3),
    (84, 'SnowHike Snow Boots', 3),
    (85, 'HikingHero Outdoor Jacket', 3),
    (86, 'Wanderlust Travel Hat', 3),
    (87, 'DapperDress Socks', 3),
    (88, 'RetroRevival Vintage Jacket', 3),
    (89, 'TrailTrek Hiking Shorts', 3),
    (90, 'PlaidPerfection Flannel Shirt', 3),
    (91, 'LiteraryGems Book Set', 4),
    (92, "Bookworm's Paradise Reading Lamp", 4),
    (93, 'NovelNavigator Bookshelf', 4),
    (94, 'Inkwell Treasures Journal', 4),
    (95, 'ClassicCollection Hardcover Classics', 4),
    (96, "Storyteller's Dream Pen", 4),
    (97, "BookLover's Bliss Reading Chair", 4),
    (98, 'WhisperingPages E-Reader', 4),
    (99, 'Bookmark Bonanza Set', 4),
    (100, 'BookNook Miniature Library', 4),
    (101, 'BookishBundle Subscription Box', 4),
    (102, 'PageTurner Reading Glasses', 4),
    (103, 'BookWormhole Bookends', 4),
    (104, 'BookishCharm Bracelet', 4),
    (105, 'BookBound Planner', 4),
    (106, 'NovelEscape Cozy Blanket', 4),
    (107, 'LiteraryJourney World Map', 4),
    (108, 'BookClub Companion Tote Bag', 4),
    (109, 'LibraryLegacy Bookplate Stickers', 4),
    (110, 'ReadersDelight Bookstand', 4),
    (111, 'ShakespeareanSonnet Poster', 4),
    (112, 'BookishQuotes Wall Decals', 4),
    (113, "Bibliophile's Delight Puzzle", 4),
    (114, 'ChapterVerse Bookmarks', 4),
    (115, "BookWorm's Delight Mug", 4),
    (116, 'FairyTales Illustrated Art Prints', 4),
    (117, 'PoetryPonder Notebook', 4),
    (118, 'BookishElegance Book Cover', 4),
    (119, 'StorybookCandle Collection', 4),
    (120, "Booklover's Retreat Coasters", 4),
]
)

In [5]:
# Number of records you want to generate
num_products = 120
num_customers = 50
num_orders = 150

## Products

In [6]:
fake.add_provider(products_provider)

# Products
products = []
for _ in range(num_products):
    product_id = len(products) + 1
    product_id, product_name, category_id = fake.unique.products()  # Using unique names as product names for simplicity
    price = round(random.uniform(5.0, 500.0), 2)  # Random price between $5 and $500
    stock = fake.random_int(min=0, max=100)
    products.append((product_id, product_name,price, stock, category_id))

In [7]:
products_df = pd.DataFrame(products, columns=['product_id', 'product_name','price', 'stock', 'category_id'])
products_df.head()

   product_id                   product_name   price  stock  category_id
0           3  AudioStream Bluetooth Speaker  249.87     78            1
1          66             ClassicChic Blazer  421.10     59            3
2          82           LaidBack Linen Pants  306.74     17            3
3          12           LightLink Smart Bulb  427.65     24            1
4          71             WarmUp Winter Coat  382.63     68            3

## Customers

In [8]:
customers = []
for index in range(num_customers):
    customer_id = len(customers) + 1
    fname = fake.unique.first_name()
    lname = fake.unique.last_name()
    name = f'{fname} {lname}'
    email = "".join([part.lower() for part in name.split()]) + "@example.com"
    address = fake.address().replace('\n', ', ')
    customers.append((customer_id, name, email, address))

In [9]:
customers_df = pd.DataFrame(customers, columns=['customer_id', 'name', 'email', 'address'])
customers_df.head()

,customer_id,name,email,address
0,1,Graeme Walker,graemewalker@example.com,"4 Wood station, South Thomasport, S7U 6WW"
1,2,Thomas Wilson,thomaswilson@example.com,"2 Murphy island, Jordanmouth, N0 6TW"
2,3,Shaun Whittaker,shaunwhittaker@example.com,"389 Bradley street, Hartborough, SA46 1XH"
3,4,Eleanor Warren,eleanorwarren@example.com,"Flat 39, Wallace creek, West Mohammedchester, ..."
4,5,Dennis Robinson,dennisrobinson@example.com,"99 Rogers cliff, Joyceburgh, B8 0BD"

## Locations

In [10]:
numbers = list(range(1, num_customers+1))
result = []
locations = []
Faker.seed(0)
for index in range(num_customers):
  location_id = index + 1
  _, _, city, country_code, continent = fake.location_on_land()
  customer_id = random.choice(numbers)
  result.append(customer_id)
  numbers.remove(customer_id)
  locations.append((location_id, city, country_code, continent, customer_id))

In [11]:
locations_df = pd.DataFrame(locations, columns=['location_id', 'city', 'country_code', 'continent', 'customer_id'])
locations_df['continent'] = [x.split('/')[0] for x in locations_df['continent']]
locations_df.head()

   location_id         city country_code continent  customer_id
0            1   Iron River           US   America            2
1            2        Patti           IN      Asia           41
2            3      Kherson           UA    Europe           10
3            4    Mira Mesa           US   America           46
4            5  Betamcherla           IN      Asia           36

## Orders & Order Details

In [17]:
orders = []
order_details = []
for _ in range(num_orders):
    order_id = len(orders) + 1
    customer_id = fake.random_int(min=1, max=num_customers)
    date = fake.date_this_decade()
    payment_method_id = fake.random_int(min=1, max=5)
    orders.append((order_id, date, customer_id, payment_method_id))

    for _ in range(fake.random_int(min=1, max=5)):  # 1 to 5 products per order
        orderDetails_id = len(order_details) + 1
        product_id = fake.random_int(min=1, max=num_products)
        quantity = fake.random_int(min=1, max=5)
        order_details.append((orderDetails_id, quantity, product_id, order_id ))

In [14]:
orders_df = pd.DataFrame(orders, columns=['orders_id','date', 'customer_id', 'payment_method_id'])
orders_df.head()

   orders_id        date  customer_id  payment_method_id
0          1  2021-02-08           34                  1
1          2  2023-02-08           16                  3
2          3  2021-01-05           15                  2
3          4  2021-03-28           36                  1
4          5  2021-05-07           25                  5

In [18]:
order_details_df = pd.DataFrame(order_details, columns=['orderDetails_id', 'quantity', 'product_id', 'order_id'])
order_details_df.head()

   orderDetails_id  quantity  product_id  order_id
0                1         2          94         1
1                2         4          24         2
2                3         5          10         2
3                4         2          58         2
4                5         1         115         3

## Payment Methods

In [24]:
payment_methods = [
    (1, "Credit Card"),
    (2, "PayPal"),
    (3, "Bitcoin"),
    (4, "Venmo"),
    (5, "Apple Pay"),
]
payment_methods_df = pd.DataFrame(payment_methods, columns=['paymentID','payment_methods'])
payment_methods_df

   paymentID payment_methods
0          1     Credit Card
1          2          PayPal
2          3         Bitcoin
3          4           Venmo
4          5       Apple Pay

## Categories

In [25]:
categories = [
      (1, 'electronics' ),
      (2, 'groceries' ),
      (3, 'clothing' ),
      (4, 'book' )
    ]
categories_df = pd.DataFrame(categories, columns=['categoryID','categories'])
categories_df

   categoryID   categories
0           1  electronics
1           2    groceries
2           3     clothing
3           4         book

# Convert the data to CSV to load into Database

In [27]:
products_df.to_csv('products.csv', index=False)
customers_df.to_csv('customers.csv', index=False)
locations_df.to_csv('locations.csv', index=False)
order_details_df.to_csv('orderDetails.csv', index=False)
orders_df.to_csv('orders.csv', index=False), 
categories_df.to_csv('categories.csv', index=False),
payment_methods_df.to_csv('payment_methods.csv', index=False)